.header{
 display:flex;
 justify-content: space-evenly;
 border-bottom: 0.1px solid lightgray;
 padding: 10px 0px;
 width: 100%;
 position: sticky;
 top: 0;
 z-index: 999;
 background-color: white;
}
.header-left{
 display:flex;
 align-items: center;
}
.header-left > img{
	object-fit: contain;
	margin-right: 10px;
}
.header-search{
 display:flex;
padding:16px;
align-items: center;
border-radius: 5px;
height: 22px;
color: gray;
background: #eef3f8;
} 
.header-search > input{
	outline: none;
	border: none;
	background: none ;
	margin-left: 3px;

}
.header-right{
	display: flex;
}