
.login{
	display: grid;
	place-items: center;
	margin: auto;
	padding: 100px 0px;

}
.login > img{
	object-fit: contain;
	margin: 10px auto;
	height: 70px;
}
.login > form{
	display: flex;
	flex-direction: column;
}
.login > form > input{
	width: 350px;
	height: 50px;
	font-size: 20px;
	margin-left: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
}
.login > form > button{
	width: 350px;
	height: 50px;
	font-size: large;
	color: #fff;
	background-color: #0074b1;
	border-radius: 5px;
}
.login > p{
 margin-top: 20px ;
}
.login-register{
	color: #0074b1;
	cursor: pointer;
}