.sidebar{
	top: 80px;
	position: sticky;
	flex: 0.3;
	border-radius: 10px;
	height: fit-content;
	text-align: center;
}
.sidebar-top{
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid lightgray;
	border-bottom: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: white;
    padding-bottom: 10px;
}
.sidebar-top > h4{
  color: gray;
  font-size: 12px;
}
.sidebar-top > h2{
  font-size: 18px;
}
.sidebar-top >img{
	margin-bottom: -20px;
	width: 100%; 
	height: 60px;
	object-fit: cover;
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.sidebar-avatar{
 margin-bottom: 10px;
}
.sidebar-stars{
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid lightgray;
	background-color: white;
	border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.sidebar-star{
	padding: 5px;
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
}
.sidebar-star:hover{
	background-color: whitesmoke;
}
.sidebar-star >p {
	color: gray;
	font-size: 13px;
	font-weight: 600;
}
.sidebar-starNo{
	color:#0a66c2 !important;
	font-weight: bold;
}
.sidebar-bottom{
	text-align: left;
	padding: 10px;
	border: 1px solid lightgray;
	background: white;
	border-radius: 10px;
	margin-top: 10px;
}
.sidebar-recentItem{
	font-size: 10px;
	color: gray;
	font-weight: bolder;
	cursor: pointer;
	padding: 5px;
	color: #0a66c2;
}
.sidebar-recentItem  :hover{
	text-decoration: underline;
 text-decoration-color:#0a66c2;
}